@{
    ViewBag.Title = "Potvrdi Email adresu.";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala vam za potvrdu Email adrese. Molimo vas @Html.ActionLink("pritisnite ovdje za prijavu.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
