@{
    ViewBag.Title = "Zaboravljena lozinka?";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Molimo provjerite svoj email kako bismo vam mogli postaviti novu lozinku.
    </p>
</div>
	
