@{
    ViewBag.Title = "Ponovno postavi lozinku.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vaša lozinka je ponovno postavljena. Molimo vas @Html.ActionLink("pritisnite ovdje za prijavu.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
