@{
    ViewBag.Title = "SkyOrder";
}
@*<style>
        body {
            margin-top:50px;
            position:center center;
            background-image: url('../../Content/slika/skyorde_logo.png');
            background-size: contain ;
            background-position: center center;
            background-repeat: no-repeat;
        }

        button {
            border: 3px solid blue;
            color: white;
            padding: 16px 32px;
            text-align: center;
            display: inline-block;
            font-size: xx-large;

        }

        }
        div {
            align-content:center center;
        }
    </style>


    <div >
        <button>
            @Html.ActionLink("Naruči", "Restorani")

        </button>

    </div>*@
<head>
    <style>
        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

            .container img {
                width: 100%;
                height: auto;
            }

            .container .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #f1f1f1;
                color: black;
                font-size: 16px;
                padding: 16px 30px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

                .container .btn:hover {
                    background-color: black;
                    color: white;
                }
    </style>
</head>
<body>

    <div class="container">

        <img src="~/Content/slika/skyorde_logo.png" style="width:100%">

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <button class="btn">@Html.ActionLink("Naruči", "Restorani")</button>
    </div>

</body>



