
<h3>@ViewBag.Message</h3>

<style>
    p{
        text-indent:5em

    }

</style>
<address>
    <p>Teodora Vodopija</p>
    <p>Laura Tkalčec</p>
    <p>Ema Kolarić</p>
    <p>Marcel Mrazović</p>
    <p>Nikola Patafta</p>
    <p>Josip Filipić</p>
</address>

<address>
    <strong>E-mail adresa:</strong>   <a href="mailto:skyorder.ck@gmail.com">skyorder.ck@gmail.com</a><br />
</address>