<style>
        h3{
            text-align: center
        }

        p{
            text-align:center;
           font-size: 130%;
            
        }
    </style>

<h3>@ViewBag.Message</h3>

<p>
    Grupa mladih studenata Međimurskog Veleučilišta osmislila je i stvorila ovu 
    aplikaciju koristeći se različitim metodama koje možete detaljnije proučiti
    u projektnoj dokumentaciji.

</p>